@font-face {
    font-family: "Iransans";
    font-style: normal;
    font-weight: normal;
    src: url('SiteFont/Iransans.eot') format('embedded-opentype');
    src: url('SiteFont/Iransans.woff2') format('woff');
    src: url('SiteFont/Iransans.ttf') format('truetype');
}

a:link{
    text-decoration:none !important
}
a:visited {
    text-decoration: none !important
}
a:hover {
    text-decoration: none !important
}
a:active {
    text-decoration: none !important
}

.cursor-pointer {
    cursor: pointer;
}

body {
    font-family: Iransans;
}

.fa-shopping-cart, .fa-sign-in, .fa-heart, .fa-user, .fa-home, .fa-list, .fa-info, .fa-phone{
    font-size: 30px;
    color: #1a92bc;
}

.bg-theme {
    background-color: #1a92bc !important;
}

.theme {
    color: #1a92bc !important;
}

.shoppingcart-container {
    padding: 15px;
    position: absolute;
    left: 0px;
    border: lightgray 1px solid;
    background-color: #fff;
    z-index: 1010;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out .3s;
}

@media(max-width:992px) {
    .shoppingcart-container {
        width: 330px !important;
    }
}

@media(max-width:768px) {
    .shoppingcart-container {
        width: fit-content !important;
    }
}

.shoppingcart-icon {
    position: relative;
}

    .shoppingcart-icon:hover + .shoppingcart-container {
        opacity: 1;
        visibility: visible;
    }

.shoppingcart-container:hover {
    opacity: 1;
    visibility: visible;
}

.shoppingcart-item-container {
    border: solid lightgray 1px;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

.shoppingcart-item-image {
    width: 150px !important;
}

.shoppingcart-item-text {
    color: #606060
}

.shoppingcart-arrow {
    position: absolute;
    left: 10px;
    top: -7px;
    background-color: #fff;
    width: 15px;
    height: 15px;
    z-index: 1009;
    transform: rotate(45deg);
    box-shadow: -2px -2px 0px -2px #959595;
}
.direction-ltr {
    direction: ltr !important
}
.direction-rtl {
    direction: rtl !important
}
.theme-line {
    width: 100%;
    height: 1px;
    border: 1px solid #1a92bc;
    margin:15px 0px;
}
.fontsize-20 {
    font-size: 20px !important;
}

.fontsize-30 {
    font-size: 30px !important;
}
.text-align-justify{
    text-align:justify
}
.fa-arrow-up{
    margin:13px;
}
.go-to-top {
    position: fixed;
    bottom: 30px;
    right: 15px;
    width: 55px;
    height: 65px;
    z-index: 1100;
    opacity:.7;
}