
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
*.dll
ProgrammingCalss.Data/obj/Debug/net7.0/ref/PgrogrammingClass.Data.dll
*.pdb
*.dll
*.pdb
*.props
*.vsidx
*.vsidx
*.v2
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
*.bin
*.dll
*.cache
*.BuildWithSkipAnalyzers
*.cache
*.dll
*.pdb
*.dll
ProgramingCalssProject/.vs/ProgramingCalssProject/DesignTimeBuild/.dtbcache.v2
*.v2
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
/PgrogrammingClass.Core/obj
/PgrogrammingClass.Core/bin
/ProgramingCalssProject/.vs
/PgrogrammingClass.Core/bin
ProgramingCalssProject/bin/Debug/net7.0/Azure.Core.dll
ProgramingCalssProject/bin/Debug/net7.0/Azure.Identity.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.Internal.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.UI.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Embedded.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Extensions.Identity.Core.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Extensions.Identity.Stores.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Identity.Client.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
ProgramingCalssProject/bin/Debug/net7.0/PgrogrammingClass.Core.dll
ProgramingCalssProject/bin/Debug/net7.0/PgrogrammingClass.Core.pdb
ProgramingCalssProject/bin/Debug/net7.0/PgrogrammingClass.Data.dll
ProgramingCalssProject/bin/Debug/net7.0/PgrogrammingClass.Data.pdb
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.deps.json
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.dll
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.exe
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.pdb
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.staticwebassets.runtime.json
ProgramingCalssProject/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
ProgramingCalssProject/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
ProgramingCalssProject/obj/Debug/net7.0/ApiEndpoints.json
ProgramingCalssProject/obj/Debug/net7.0/apphost.exe
ProgramingCalssProject/obj/Debug/net7.0/Programi.5A885456.Up2Date
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.AssemblyInfo.cs
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.AssemblyInfoInputs.cache
PgrogrammingClass.Core/bin/Debug/net7.0/PgrogrammingClass.Core.deps.json
PgrogrammingClass.Core/bin/Debug/net7.0/PgrogrammingClass.Core.dll
PgrogrammingClass.Core/bin/Debug/net7.0/PgrogrammingClass.Core.pdb
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.AssemblyInfo.cs
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.AssemblyInfoInputs.cache
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.assets.cache
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.csproj.AssemblyReference.cache
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.csproj.CoreCompileInputs.cache
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.csproj.FileListAbsolute.txt
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.dll
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.GeneratedMSBuildEditorConfig.editorconfig
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.genruntimeconfig.cache
PgrogrammingClass.Core/obj/Debug/net7.0/PgrogrammingClass.Core.pdb
PgrogrammingClass.Core/obj/Debug/net7.0/ref/PgrogrammingClass.Core.dll
PgrogrammingClass.Core/obj/Debug/net7.0/refint/PgrogrammingClass.Core.dll
PgrogrammingClass.Core/obj/PgrogrammingClass.Core.csproj.nuget.dgspec.json
PgrogrammingClass.Core/obj/PgrogrammingClass.Core.csproj.nuget.g.props
PgrogrammingClass.Core/obj/project.assets.json
PgrogrammingClass.Core/obj/project.nuget.cache
ProgramingCalssProject/.vs/ProgramingCalssProject/DesignTimeBuild/.dtbcache.v2
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
ProgramingCalssProject/obj/Debug/net7.0/apphost.exe
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.AssemblyInfo.cs
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.AssemblyInfoInputs.cache
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.assets.cache
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.csproj.AssemblyReference.cache
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.csproj.CoreCompileInputs.cache
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.csproj.FileListAbsolute.txt
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.GeneratedMSBuildEditorConfig.editorconfig
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.RazorAssemblyInfo.cache
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.sourcelink.json
ProgramingCalssProject/obj/ProgramingCalssProject.csproj.nuget.dgspec.json
ProgramingCalssProject/obj/ProgramingCalssProject.csproj.nuget.g.props
ProgramingCalssProject/obj/ProgramingCalssProject.csproj.nuget.g.targets
ProgramingCalssProject/obj/project.assets.json
ProgramingCalssProject/obj/project.nuget.cache
ProgrammingCalss.Data/bin/Debug/net7.0/PgrogrammingClass.Core.dll
ProgrammingCalss.Data/bin/Debug/net7.0/PgrogrammingClass.Core.pdb
ProgrammingCalss.Data/bin/Debug/net7.0/PgrogrammingClass.Data.deps.json
ProgrammingCalss.Data/bin/Debug/net7.0/PgrogrammingClass.Data.dll
ProgrammingCalss.Data/bin/Debug/net7.0/PgrogrammingClass.Data.pdb
ProgrammingCalss.Data/obj/Debug/net7.0/Pgrogram.FF13CA2D.Up2Date
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.AssemblyInfo.cs
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.AssemblyInfoInputs.cache
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.assets.cache
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.csproj.AssemblyReference.cache
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.csproj.CoreCompileInputs.cache
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.csproj.FileListAbsolute.txt
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.dll
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.GeneratedMSBuildEditorConfig.editorconfig
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.pdb
ProgrammingCalss.Data/obj/Debug/net7.0/PgrogrammingClass.Data.sourcelink.json
ProgrammingCalss.Data/obj/Debug/net7.0/ref/PgrogrammingClass.Data.dll
ProgrammingCalss.Data/obj/Debug/net7.0/refint/PgrogrammingClass.Data.dll
ProgrammingCalss.Data/obj/PgrogrammingClass.Data.csproj.nuget.dgspec.json
ProgrammingCalss.Data/obj/PgrogrammingClass.Data.csproj.nuget.g.props
ProgrammingCalss.Data/obj/project.assets.json
ProgrammingCalss.Data/obj/project.nuget.cache
ProgrammingClass.Sevices/bin/Debug/net7.0/PgrogrammingClass.Sevices.deps.json
ProgrammingClass.Sevices/bin/Debug/net7.0/PgrogrammingClass.Sevices.dll
ProgrammingClass.Sevices/bin/Debug/net7.0/PgrogrammingClass.Sevices.pdb
ProgrammingClass.Sevices/obj/Debug/net7.0/Pgrogram.8FABC38B.Up2Date
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.AssemblyInfo.cs
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.AssemblyInfoInputs.cache
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.assets.cache
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.csproj.AssemblyReference.cache
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.csproj.CoreCompileInputs.cache
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.csproj.FileListAbsolute.txt
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.dll
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.GeneratedMSBuildEditorConfig.editorconfig
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.pdb
ProgrammingClass.Sevices/obj/Debug/net7.0/PgrogrammingClass.Sevices.sourcelink.json
ProgrammingClass.Sevices/obj/Debug/net7.0/ref/PgrogrammingClass.Sevices.dll
ProgrammingClass.Sevices/obj/Debug/net7.0/refint/PgrogrammingClass.Sevices.dll
ProgrammingClass.Sevices/obj/PgrogrammingClass.Sevices.csproj.nuget.dgspec.json
ProgrammingClass.Sevices/obj/PgrogrammingClass.Sevices.csproj.nuget.g.props
ProgrammingClass.Sevices/obj/project.assets.json
ProgrammingClass.Sevices/obj/project.nuget.cache
/PgrogrammingClass.Core/bin
/ProgrammingClass.Sevices/obj
/PgrogrammingClass.Core/bin
PgrogrammingClass.Core/bin/Debug/net7.0/PgrogrammingClass.Core.dll
*.dll
