
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
*.dll
ProgrammingCalss.Data/obj/Debug/net7.0/ref/PgrogrammingClass.Data.dll
*.pdb
*.dll
*.pdb
*.props
*.vsidx
*.vsidx
*.v2
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
*.bin
*.dll
*.cache
*.BuildWithSkipAnalyzers
*.cache
*.dll
*.pdb
*.dll
ProgramingCalssProject/.vs/ProgramingCalssProject/DesignTimeBuild/.dtbcache.v2
*.v2
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
/PgrogrammingClass.Core/obj
/PgrogrammingClass.Core/bin
/ProgramingCalssProject/.vs
/PgrogrammingClass.Core/bin
ProgramingCalssProject/bin/Debug/net7.0/Azure.Core.dll
ProgramingCalssProject/bin/Debug/net7.0/Azure.Identity.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.Internal.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.UI.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Embedded.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Extensions.Identity.Core.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Extensions.Identity.Stores.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Identity.Client.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ProgramingCalssProject/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
ProgramingCalssProject/bin/Debug/net7.0/PgrogrammingClass.Core.dll
ProgramingCalssProject/bin/Debug/net7.0/PgrogrammingClass.Core.pdb
ProgramingCalssProject/bin/Debug/net7.0/PgrogrammingClass.Data.dll
ProgramingCalssProject/bin/Debug/net7.0/PgrogrammingClass.Data.pdb
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.deps.json
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.dll
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.exe
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.pdb
ProgramingCalssProject/bin/Debug/net7.0/ProgramingCalssProject.staticwebassets.runtime.json
ProgramingCalssProject/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ProgramingCalssProject/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
ProgramingCalssProject/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
ProgramingCalssProject/obj/Debug/net7.0/ApiEndpoints.json
ProgramingCalssProject/obj/Debug/net7.0/apphost.exe
ProgramingCalssProject/obj/Debug/net7.0/Programi.5A885456.Up2Date
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.AssemblyInfo.cs
ProgramingCalssProject/obj/Debug/net7.0/ProgramingCalssProject.AssemblyInfoInputs.cache
