
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
*.dll
ProgrammingCalss.Data/obj/Debug/net7.0/ref/PgrogrammingClass.Data.dll
*.pdb
*.dll
*.pdb
*.props
*.vsidx
*.vsidx
*.v2
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
ProgramingCalssProject/.vs/ProgramingCalssProject/v17/.suo
*.bin
