
<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-action="Index" asp-controller="Account"><i class="fa fa-user"></i> پروفایل من</a>
        </li>
        <li class="list-group-item">
            <a asp-action="Index" asp-controller="CustomerOrder"><i class="fa fa-list"></i> خرید های من</a>
        </li>
        <li class="list-group-item">
            <a asp-action="ChengePass" asp-controller="Account"><i class="fa fa-key"></i> تغییر کلمه عبور </a>
        </li>

        <li class="list-group-item ">
            <a asp-action="LogOut" class="w3-text-red" asp-controller="Account"><i class="fa fa-sign-out"></i> خروج </a>
        </li>
    </ul>
</div>


