@model PgrogrammingClass.Core.Domain.TblAboutUs
@{
    ViewData["Title"] = "تماس با ما";
}
<div class="bg-light text-center p-4 m-2">
    <h5>این صفحه تماس با ما است </h5>
</div>

<br />
<div class="m-5 p-3">
    @Html.Raw(Model.ContactUs)
</div>