@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="container bg-light pt-1 mt-1 pb-1">
    <div class="direction-ltr">
        <section class="lazy slider">
            <div>
                <img src="~/pic/steve-jobs-quotes-18.jpg" />
            </div>
            <div>
                <img src="~/pic/steve-jobs-quotes-18.jpg" />
            </div>
            <div>
                <img src="~/pic/steve-jobs-quotes-18.jpg" />
            </div>
        </section>
    </div>
    <div class="bg-light p-2 m-2 rounded theme">
        لورم ایپسوم متن ساختگی با تولید
        سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
        متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
    </div>
    <div class="text-center">
        <strong class="theme">محصولات جدید</strong>
    </div>
    <div class="theme-line"></div>
    <div class="direction-ltr">
        <section id="newProduct">
            <div class=" bg-white p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (17).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/WP2013.1 1024x768 (18).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (19).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (20).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (21).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (22).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (23).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


        </section>
    </div>
    <div class="text-center mt-3">
        <strong class="theme">محصولات پر فروش</strong>
    </div>
    <div class="theme-line"></div>
    <div class="direction-ltr">
        <section id="mostSoldProduct">
            <div class="bg-white p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (17).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/WP2013.1 1024x768 (18).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (19).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (20).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (21).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (22).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (23).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


        </section>
    </div>
    <div class="text-center mt-3">
        <strong class="theme">محصولات پر طرفدار</strong>
    </div>
    <div class="theme-line"></div>
    <div class="direction-ltr">
        <section id="mostViewedProduct">
            <div class="bg-white p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (17).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/WP2013.1 1024x768 (18).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (19).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (20).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (21).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (22).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>

            <div class="bg-light p-2 m-2 rounded theme shadow">
                <img src="~/pic/wp2013.1 1024x768 (23).jpg" class="img-fluid img-thumbnail m-1" />
                <div class="mt-2">
                    <strong>عنوان محصول شماره یک</strong>
                </div>
                <div class="mt-2 text-muted">
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و ...
                </div>
                <button class="btn bg-theme text-white btn-block mt-3 btn-sm">افزودن به سبد خرید</button>
            </div>


        </section>
    </div>
</div>